.hero-sigma {
    height:  100vh;
    text-align: center;
}

.logo-sigma {
    display: flex;
    height: 125px;
    justify-content: center;
    align-items: center;
}

.titulo-registro-sigma h2 {
    color: var(--textfuerte)
}

.descripcion-registro-sigma {
    margin: 30px 0;
}

.descripcion-registro-sigma p {
    font-size: 13px;
    color: var(--textbajo)
}